* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  margin: 0.2em;
  padding: 0.2em;
  height: 100%;
}
.parent {
  display: none;
}
.active {
  display: block;
}
.head {
  width: 95vw;
  margin: 0.3em;
  padding: 0.3em;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.head header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.head header h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-div input {
  width: 90%;
  padding: 0.5em;
}
.cancel-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
#add-new-order-btn {
  text-align: center;
  justify-items: center;
  position: fixed;
  bottom: 4em;
  right: 4em;
  z-index: 1;
  background-color: #eb3c2f;
  color: #fff;
  border: none;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 50%;
  cursor: pointer;
}
#add-new-order-btn:hover {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #4caf50;
  transform: scale(1.2);
  transition: 0.3s;
}
.table {
  margin-top: 1em;
  width: 100%;
}

.table tr {
  display: flex;
}

.table thead tr th:nth-child(1) {
  flex: 0 0 50px;
}

.table tbody tr td:nth-child(1) {
  flex: 0 0 50px;
}

.table thead tr th:nth-child(2) {
  flex: 1;
}

.table tbody tr td:nth-child(2) {
  flex: 1;
}

.table thead th {
  padding: 0.3em;
  text-align: center;
  background-color: #f2f2f2;
  font-weight: bold;
}
.table tbody tr {
  border-bottom: 1px solid;
}
.table tbody tr td {
  padding: 0.3em;
  margin: 0.2em;
  text-align: center;
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: solid black;
  color: #fff;
}
